<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Spring Security Demo</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
</head>
<body>
	<div class="container">
		<div class="row">
			<a href="/" class="btn btn-primary">Back</a>
			<!-- this div is only visible to admin users only -->
			<div>
				<p class="lead">Only admin can add users</p>
				<form th:action="@{/admin/user/save}" method="post"
							th:object="${user}">
							<input type="hidden" th:field="*{userId}" />

							<div class="form-group"
								>
								<label for="slug">Firstname</label> <input type="text"
									class="form-control" name="firstname" id="firstname" th:field="*{firstName}" />
								
							</div>
							
							<div class="form-group"
								>
								<label for="slug">Lastname</label> <input type="text"
									class="form-control" name="lastname" id="lastname" th:field="*{lastName}" />
								
							</div>
							<div class="form-group"
								>
								<label for="slug">Email</label> <input type="email"
									class="form-control" name="email" id="email" th:field="*{email}"/>
								
							</div>
							<div class="form-group"
								>
								<label for="slug">Password</label> <input type="password"
									class="form-control" name="password" id="password" th:field="*{password}" />
								
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
			</div>
		</div>
	</div>


</body>
</html>